USE [master]
GO
/****** Object:  Database [CROCHETO]    Script Date: 3/11/2024 10:02:08 AM ******/
CREATE DATABASE [CROCHETO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CROCHETO', FILENAME = N'S:\crocheto\Database\DATA\CROCHETO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CROCHETO_log', FILENAME = N'S:\crocheto\Database\DATA\CROCHETO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CROCHETO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CROCHETO]
GO
/****** Object:  User [ADMIN]    Script Date: 3/11/2024 10:02:08 AM ******/
CREATE USER [ADMIN] FOR LOGIN [ADMIN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[COSTOSUSCRIPCION]    Script Date: 3/11/2024 10:02:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSTOSUSCRIPCION](
	[COSTOID] [int] IDENTITY(1,1) NOT NULL,
	[SUSCRIPCIONID] [int] NULL,
	[MONTO] [decimal](10, 2) NOT NULL,
	[FECHAINICIO] [date] NOT NULL,
	[FECHAFIN] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[COSTOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGOS]    Script Date: 3/11/2024 10:02:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[PAGOID] [int] IDENTITY(1,1) NOT NULL,
	[USUARIOID] [int] NULL,
	[MONTO] [decimal](10, 2) NOT NULL,
	[FECHAPAGO] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PAGOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATRONES]    Script Date: 3/11/2024 10:02:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATRONES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITULO] [nvarchar](100) NOT NULL,
	[SUBTITULO] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](max) NOT NULL,
	[TENDENCIA] [nvarchar](50) NULL,
	[IMAGEN] [nvarchar](255) NOT NULL,
	[ARCHIVO] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATRONESFAVORITOS]    Script Date: 3/11/2024 10:02:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATRONESFAVORITOS](
	[USUARIOID] [int] NOT NULL,
	[PATRONID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USUARIOID] ASC,
	[PATRONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATRONESPREMIUM]    Script Date: 3/11/2024 10:02:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATRONESPREMIUM](
	[USUARIOID] [int] NOT NULL,
	[PATRONID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USUARIOID] ASC,
	[PATRONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUSCRIPCIONES]    Script Date: 3/11/2024 10:02:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUSCRIPCIONES](
	[SUSCRIPCIONID] [int] IDENTITY(1,1) NOT NULL,
	[USUARIOID] [int] NULL,
	[FECHAINICIO] [date] NOT NULL,
	[FECHAFIN] [date] NULL,
	[ESTADO] [int] NULL,
	[COSTO] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SUSCRIPCIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 3/11/2024 10:02:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CORREO] [nvarchar](255) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[ROL] [int] NOT NULL,
	[ESTADO] [int] NOT NULL,
	[USUARIO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SUSCRIPCIONES] ADD  DEFAULT ((0)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [ROL]
GO
ALTER TABLE [dbo].[COSTOSUSCRIPCION]  WITH CHECK ADD FOREIGN KEY([SUSCRIPCIONID])
REFERENCES [dbo].[SUSCRIPCIONES] ([SUSCRIPCIONID])
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD FOREIGN KEY([USUARIOID])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[PATRONESFAVORITOS]  WITH CHECK ADD FOREIGN KEY([PATRONID])
REFERENCES [dbo].[PATRONES] ([ID])
GO
ALTER TABLE [dbo].[PATRONESFAVORITOS]  WITH CHECK ADD FOREIGN KEY([USUARIOID])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[PATRONESPREMIUM]  WITH CHECK ADD FOREIGN KEY([PATRONID])
REFERENCES [dbo].[PATRONES] ([ID])
GO
ALTER TABLE [dbo].[PATRONESPREMIUM]  WITH CHECK ADD FOREIGN KEY([USUARIOID])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[SUSCRIPCIONES]  WITH CHECK ADD FOREIGN KEY([USUARIOID])
REFERENCES [dbo].[USUARIO] ([ID])
GO
USE [master]
GO
